<div class="row">
    <h1>Proyectos</h1>
    <div class="container">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h2>Proyecto 1</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, nisi libero assumenda atque, suscipit qui vero perferendis beatae fugit minima, doloremque maxime nesciunt velit earum sapiente quae? Odio, totam obcaecati.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img class="img-fluid img-project" src="../../../assets/project.jpg" alt="project">
        </div>
    </div>
    <div class="container">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h2>Proyecto 1</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, nisi libero assumenda atque, suscipit qui vero perferendis beatae fugit minima, doloremque maxime nesciunt velit earum sapiente quae? Odio, totam obcaecati.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img class="img-fluid img-project" src="../../../assets/project.jpg" alt="project">
        </div>
    </div>
    <div class="container">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h2>Proyecto 1</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, nisi libero assumenda atque, suscipit qui vero perferendis beatae fugit minima, doloremque maxime nesciunt velit earum sapiente quae? Odio, totam obcaecati.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img class="img-fluid img-project" src="../../../assets/project.jpg" alt="project">
        </div>
    </div>    
</div>