<div class="row">
    <div class="col">
        <img class="img-fluid" src="../../../assets/perfil.jpg" alt="imagen perfil">
    </div>
    <div class="col">
        <p>Diego Mengarelli</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col">
        <span>
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi obcaecati laudantium voluptatem quaerat delectus deleniti consequatur possimus, at cumque sit exercitationem eligendi quas facilis perspiciatis odit reprehenderit cum doloremque? Consectetur.</p>
        </span>
    </div>
</div>
