<div class="row">
    <h1>Educacion y cursos</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Curso 1</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis, nemo reiciendis asperiores beatae cupiditate commodi. Culpa laudantium, vitae eum velit et totam hic quas animi voluptatum debitis esse facere obcaecati.</p>
        </ul>
        <ul>
            <li>
                <h1>Curso 2</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis, nemo reiciendis asperiores beatae cupiditate commodi. Culpa laudantium, vitae eum velit et totam hic quas animi voluptatum debitis esse facere obcaecati.</p>
        </ul>
        <ul>
            <li>
                <h1>Curso 3</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis, nemo reiciendis asperiores beatae cupiditate commodi. Culpa laudantium, vitae eum velit et totam hic quas animi voluptatum debitis esse facere obcaecati.</p>
        </ul>
    </div>
</div>